@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
}

a {
  color: theme('colors.primary.DEFAULT');
}

a:hover {
  text-decoration: underline;
}

input:focus,
button:focus {
  outline: theme('colors.secondary.DEFAULT') solid 2px;
}

/* Headings */
h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

h2 {
  font-size: 1.25rem;
}
